.dot-pulse {
    --uib-size: 40px;
    --uib-speed: 1.3s;
    --uib-color: black;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--uib-size);
    height: calc(var(--uib-size) * 0.27);
}

.dot-pulse__dot,
.dot-pulse::before,
.dot-pulse::after {
    content: '';
    display: block;
    height: calc(var(--uib-size) * 0.18);
    width: calc(var(--uib-size) * 0.18);
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
}

.dot-pulse::before {
    animation: pulse var(--uib-speed) ease-in-out infinite;
}

.dot-pulse__dot {
    animation: pulse var(--uib-speed) ease-in-out calc(var(--uib-speed) * 0.125) infinite both;
}

.dot-pulse::after {
    animation: pulse var(--uib-speed) ease-in-out calc(var(--uib-speed) * 0.25) infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.5);
    }
}

/*********************************************/

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(218, 203, 187);
    color: white;
    margin: 0;
    padding: 0;
}

.instagram-embed {
    text-align: center;
    align-content: center;
}

.main-page {
    display: flex;
    flex-flow: row
}

.side-nav-conteiner {
    flex: 0 0 auto;
    background-color: rgb(177, 150, 119);
    padding: 15px;
    width: 300px;
    display: flex;
    flex-flow: column;
}

.main-page-conteiner {
    flex: 1 1 auto;
    margin: 25px 50px 25px 50px;
    flex: 1 1 auto;
}

.itchio-games {
    display: flex;
    flex-flow: row;
    padding: 10px;
}

.game {
    padding: 0px 10px 0px 10px;
    flex: 0 0 auto;
}

.game-widget {
    flex: 1 1 auto;
    width: 200px;
    height: auto;
    border-radius: 15px;
}

.itchio, .instagram-conteiner {
    padding: 10px 25px 25px 25px;
    margin: 25px 0px 25px 0px;
    border-radius: 25px;
    background-color: rgb(187, 167, 145);
}

h1, p {
    padding-left: 25px;
}

.about-me {
    flex: 0 0 auto;
}

.about-me-sub {
    display: grid;
    place-items: center;
}

.photo {
    width: 75%;
    border-radius: 100%;
    box-shadow: 10epx 10px rgba(28, 13, 85, 0.15);
}

.link-else {
    padding: 15px;
    background-color: rgb(122, 98, 72);
    width: fit-content;
    border-radius: 50px;
    margin: 5px;
}

.link-else:hover {
    cursor: pointer;
    background-color: rgb(88, 69, 47);
}

.about-me-sub-else {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

